@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --header-color: #f8f8f8;
    --header-padding: 20px;
    --navbar-spacing: 12px;
    --normal-text-color: #222222;
}

body{
    color: var(--normal-text-color);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.06em;
}

.container{
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Header */

header {
    background-color: var(--header-color);
    width:100%;
    padding-top: var(--header-padding);
    padding-bottom: var(--header-padding);
}

nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.nav-ul {
    list-style-type: none;
    border-right: 1px solid;
    display: inline-block;
    margin-left: var(--navbar-spacing);
    margin-right: var(--navbar-spacing);
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0 var(--navbar-spacing);
}

.nav-item {
    display: inline-block;
    margin-left: var(--navbar-spacing);
    margin-right: var(--navbar-spacing);
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--normal-text-color);
}

a:hover {
    text-decoration: underline;
}
/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 auto;
}

.card{
    display: inline-block;
}

.socials-ul {
    list-style-type: none;
    padding-left: 0px;
}

.socials-item {
    display: inline-block;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--normal-text-color);
}

h1 {
    font-size: 2.625rem;
}
